.c-tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
    color: $color-secondary-light;
    font-weight: 700;
    font-size: 1.6rem;

    &__tab {
        width: 100%;
        background-color: transparent;
        border: none;
        font-weight: 700;
        color: $color-secondary-light;
        padding: 1rem;
        border-radius: $br-pill;
        text-transform: uppercase;

        &--active {
            box-shadow: 0 0.1rem 1rem $color-secondary-light;
            border: 0.2rem solid $color-secondary-light;
        }
    }
}
