@mixin glassMorphism {
  background: rgba(78, 9, 48, 0.6);
  box-shadow: 0 0.1rem 2rem 0 rgba(235, 169, 4, 0.37);
  backdrop-filter: blur(0.8rem);
  -webkit-backdrop-filter: blur(0.8rem);
}

@mixin glassMorphismDisabled {
  background: transparent;
  box-shadow: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

@mixin screenTablet {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin screenDesktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}
