// COLORS
$color-primary-light: #870f54;
$color-primary-dark: #4e0930;

$color-secondary-light: #eba904;
$color-secondary-dark: #c48d03;

$color-white: #eaebed;
$color-black: #121212;

$color-placeholder: rgba(255, 255, 255, 0.5);

// BORDER-RADIUS
$br-standard: 1rem;
$br-pill: 100rem;

// BREAKPOINTS - MOBILE FIRST
$bp-tablet: 767px; // Mobile
$bp-desktop: 1160px; // Tablet
$bp-desktop-wide: 1440px; // Large desktop screens (wide screen)
